<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.skinsafe.app">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_icon2"
        android:roundIcon="@mipmap/ic_icon2_round"
        android:allowBackup="true"
        android:theme="@style/Theme.CheckInset.Light">

        <activity android:name="de.skinsafe.app.SettingsAboutActivity"
            android:label="Settings About"
            android:parentActivityName="de.skinsafe.app.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.skinsafe.app.MainActivity"/>
        </activity>

        <activity
            android:name="de.skinsafe.app.MainActivity"
            android:theme="@style/Theme.CheckInset.Light"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.checkinset.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="de.skinsafe.app.SettingsActivity" />

    </application>



</manifest>
